USE [master]
GO
/****** Object:  Database [PlayfairEncrypted]    Script Date: 24/11/2021 2:45:08 CH ******/
CREATE DATABASE [PlayfairEncrypted]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlayfairEncrypted', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PlayfairEncrypted.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlayfairEncrypted_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PlayfairEncrypted_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlayfairEncrypted].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlayfairEncrypted]
GO
/****** Object:  Table [dbo].[Cypherr]    Script Date: 24/11/2021 2:45:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cypherr](
	[id] [int] NULL,
	[keyy] [nchar](20) NULL,
	[cypher] [nchar](30) NULL
) ON [PRIMARY]
GO
USE [master]
GO
